---
layout: default
title: Tags
permalink: /tags/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<!-- begin tags -->
<section class="section tags">

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}

  <div class="tags__inner is-hidden" id="{{ this_word | cgi_escape }}">

      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="tag__info">
              <h1 class="tag__title">{{ this_word }} <span class="tag__counter">{{ site.tags[this_word].size }}</span></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container animate">
        <div class="row">
            {% assign sort_order = site.tags[this_word].order %}
            {% assign sorted_posts = site.tags[this_word] %}
            
            {% if sort_order == "chronological" %}
                {% assign sorted_posts = sorted_posts | sort: "date" %}
            {% elsif sort_order == "chronological-reverse" %}
                {% assign sorted_posts = sorted_posts | sort: "date" | reverse %}
            {% elsif sort_order == "alphabetical" %}
                {% assign sorted_posts = sorted_posts | sort: "title" %}
            {% elsif sort_order == "alphabetical-reverse" %}
                {% assign sorted_posts = sorted_posts | sort: "title" | reverse %}
            {% endif %}
          
            {% for post in sorted_posts %}
            {% if post.title != null %}
              <div class="col col-4 col-d-6 col-t-12">
                {% include article.html %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>

    {% endunless %}
    {% endfor %}

</section>
<!-- end tags -->

<script>
  var tag_name = window.location.search.replace("?tag=", "#");
  if (tag_name) {
    var el = document.querySelector(tag_name);
    el.classList.remove("is-hidden");
  }
</script>